.projects {
  font-family: Montserrat, tahoma, verdana, sans-serif;
  margin: 120px;
  padding: 2px;
}

.heading {
  color: #ff8906;
  font-size: 2.2rem;
  display: block;
}

.body {
  color: #a7a9be;
}

.projects_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
